.my-Accountr1
        {
            margin:10px;
            padding:10px;
            background-color: #EDEDED ;
            font-size: 13px;
        }
        .myaccount
        {
            display: flex;
            padding: 10px;
            margin: 10px;

        }
        .myaccontone
        {
            text-align: center;
            
            flex: 3;
           
        
        }th{
        border:  solid #EDEDED
        }
        td{
            border:  2px solid #EDEDED;
        }

        .tableone
        {
            
            
            margin: 9px;
            position: relative;
            left: 20px;
            width: 300px;
            height: 300px;
        }
        .myaccounttwo
        {
            flex: 7;
            border: 5px solid #EDEDED ;
        }
        .hello
        {
            
            margin: 10px;
            padding: 10px;
            width: 500px;
            background-color:  #EDEDED;
        }
        a
        {
            text-decoration: none;
            color: black;

        }
      
        .footerone
         {
            background-color:  rgb(9, 166, 82);;
            border: 2px black;
            display: flex;
            margin-left: 0px;
         }
        .fone
        {
            flex: 1;
            margin: 10px;
            line-height: 50px;             
            text-align: center;
            position: relative;
        }
        .ftwo
        {
            flex: 1;
            margin: 10px;
            padding: 10px;
            text-align: center;
        }
        .fthree
        {
            flex: 1;
            margin: 10px;
            padding: 10px;
            line-height: 50px;
            text-align: center;
        }
        /* button{
            background-color: black;
            color: whitesmoke;
        } */
        /* footer second row */
        .srow
        {
            display: flex;   
            margin: 10px;             
         }
        .sone
        {
            flex: 4;
            margin-left: 20px;
            text-align: left;
            padding: 10px;
            margin: 10px;
            width: 10px;
                }
       
        .paymet
        {
            width: 60%;
            height: 60%;         
            text-align: center;
            line-height: 50%;
        }
        .stwo
        {
            flex: 3;
            text-align: left;
            margin-left: 10px;
            padding-left: 20px;
            font-size: 18px;
        }
        
        .sthree
        {
            flex: 3;
            text-align: left;
            margin-left: 10px;
            padding-left: 20px;      
            font-size: 18px;
        }
        
        .sfour
        {            
            flex: 3;
            text-align: left;
            margin-left: 10px;
            padding-left: 20px;
            font-size: 18px;
        }
        /* three row footer */
        .tfooter
        {
            display: flex;      
        }      
        .rone
        {
            flex: 1;
            text-align: left;          
        }
        .rtwo
        {
            line-height: 40px;
            flex:1;
            text-align:right;
        }
        .fone
        {
            height: 10px;
            width: 10px;
        }  
        .paymet
        {
            width: 30%;
            height: 30%;         
            text-align: center;
        } 
        .footerone
    {
       background-color: #ADCCC5;
       border: 2px black;
       display: flex;
     
    }
   .fone
   {
       flex: 2;
       border: 2px solid red;
       margin: 10px;
      position: relative;
      bottom: 40px;
      left:2px;
                 
       
   }
   .ftwo
   {
       flex: 5;
       margin: 10px;
       padding: 10px;
       text-align: center;
   }
   .fthree
   {
       flex: 5;
       margin: 10px;
       padding: 10px;
       line-height: 50px;
       text-align: center;
   }
   /* button{
       background-color: black;
       color: whitesmoke;
   } */
   /* footer second row */
   .srow
   {
       display: flex;   
       margin: 10px;             
    }
   .sone
   {
       flex: 4;
       margin-left: 20px;
       text-align: left;
       padding: 10px;
       margin: 10px;
   }
  
   .paymet
   {
       width: 60%;
       height: 60%;         
       text-align: center;
       line-height: 50%;
   }
   .stwo
   {
       flex: 3;
       text-align: left;
       margin-left: 10px;
       padding-left: 20px;
       font-size: 20px;
   }
   
   .sthree
   {
       flex: 3;
       text-align: left;
       margin-left: 10px;
       padding-left: 20px;      
       font-size: 20px;
   }
   
   .sfour
   {            
       flex: 3;
       text-align: left;
       margin-left: 10px;
       padding-left: 20px;
       font-size: 20px;
   }
   /* three row footer */
   .tfooter
   {
       display: flex;      
   }      
   .rone
   {
       flex: 1;
       text-align: left;          
   }
   .rtwo
   {
       line-height: 40px;
       flex:1;
       text-align:right;
   }
     
   .paymet
   {
       width: 30%;
       height: 30%;         
       text-align: center;
   }  
   .fonee
        {
            flex: 1;
            margin: 10px;
            line-height: 20px;             
            text-align: center;
          
        } 
        .sone
        {
            flex: 4;
            margin-left: 20px;
            text-align: left;
            padding: 10px;
            margin: 10px;
        }
     